$connectorBackground: #d8f2ff;
$connectorBorder: #a2d7f2;
$gutterBackground: #efefef;
$copyArrowsColor: #ffffff;
$mergeRightColor: #c98100;
$mergeLeftColor: #004ea0;
$modifyBackground: #BAC1FF;
$addedBackground: #C5EEAF;
$deletedBackground: #FAC1C1;

@import './ace-diff-base.scss';
