$connectorBackground: #004d7a;
$connectorBorder: #003554;
$gutterBackground: #272727;
$copyArrowsColor: #ffffff;
$mergeRightColor: #f7b742;
$mergeLeftColor: #61a2e7;
$modifyBackground: #BAC1FF;
$addedBackground: #C5EEAF;
$deletedBackground: #FAC1C1;

@import './ace-diff-base.scss';
